.App {
  text-align: center;
}

.body {
  width: 100%;
  background-color: whitesmoke;
}

.navbar {
  width: 100%;
  background-color: white;
  border-bottom: solid 1px black;
  margin-bottom: 25px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-left: 250px;
}

.nav {
  float: right;
  margin-right: 20px;
}

.nav a {
  font-size: 1.3em;
  margin: 10px;
}

.nav a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: grey;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 35%;
  margin: 25px;
  background-color: white;
}

.cardHead {
  height: 80px;
  width: 500px;
  display: inline-block;
}

.profilePic {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  float: left;
  margin: 5px;
}

.headIntro {
  height: 70px;
  width: 400px;
  margin: 5px 5px 5px 85px;
  
}

.headIntro p {
  float: left;
}

.cardImage {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.cardContent {
  margin: 15px 25px 15px 25px;
}