.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: whitesmoke;
  align-items: center;
}

.card {
  width: 500px;
  margin: 25px;
}

.cardHead {
  height: 80px;
  width: 500px;
  display: inline-block;
}

.profilePic {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  float: left;
  margin: 5px;
}

.headIntro {
  height: 70px;
  width: 400px;
  margin: 5px 5px 5px 85px;
}

.cardImage {
  width: 500px;
  height: auto;
  margin: 10px;
}

.cardContent {
  margin: 15px 25px 15px 25px;
}